@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px; // IE Fallback
  font-size: $sizeValue + rem;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin grid-center {
  display: grid;
  justify-content: center;
}

