//  Foundation for Sites Variables
//  -----------------------------
//
//  Table of Contents:
//
//   1. Colors
//   2. Breakpoints
//   3. Fonts

// 1. Colors
// .........

// Neutral Colors
$grayish-blue: hsl(229, 27%, 84%);
$very-dark-blue: hsl(229, 31%, 21%);

// Primary Colors
$soft-blue: hsl(231, 69%, 60%);
$soft-red:  hsl(0, 94%, 66%);

// Element Colors
$paragraph-color: hsl(229, 8%, 60%);

// 2. Breakpoints
// ..............

$xxlarge: 1200px;

// 3. Fonts
// ........

$global-font-size: 1.8;
