//  Foundation for Sites Variables
//  -----------------------------
//
//  Table of Contents:
//
//   1. Colors
//   2. Breakpoints
//   3. Fonts

// 1. Colors
// .........

// Neutral Colors
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(0, 94%, 66%);

// Primary Colors
$soft-blue: hsl(231, 69%, 60%);
$soft-red:  hsl(0, 94%, 66%);

// 2. Breakpoints
// ..............

$small: 375px;
$xxlarge: 1440px;

// 3. Fonts
// ........

$global-font-size: 18px;
$global-font-color: #2c2748;
